*{
    margin: 0px;
    padding: 0px;
}
html{
    background-color: rgb(128, 128, 128);
}
header{
    height: 5em;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}
header button{
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 10px;
}
header>div>button:hover{
    border: 5px solid rgb(238, 51, 82);
}
.card_container{
    height: 100vh;
    margin:2em 5em; 
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    gap: 30px;
}
.card{
    background-color: rgb(124, 102, 157);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}
 dialog{
    justify-self: center;
    padding: 20px;
    height: 73vh;
    width: 25em;
    background-color: rgb(46, 38, 68);
    color: white;
    border: 1px solid black;
    border-radius: 10px;
 }
 dialog div{
    padding: 20px;
 }
dialog>div{
    display: flex;
    gap: 12em;
}
input[type="text"],input[type="number"] {
    margin-top: 7px;
    width: 26em;
    height: 2.5em;
    padding-left: 5px;
    background-color: rgba(87, 77, 9, 0.307);
    color: white;
 }
 input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    align-self: center;
 }
 #submit_form{
    background-color: rgb(253, 5, 5);
    color: white;
    width: 27em;
    height: 3.5em;
 }
 #cancel{
    background-color: rgba(255, 255, 255, 0);
    color: rgb(212, 208, 216);
    border: none;
    font-size: 1.2em;
 }