*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #020617;
}
header{
    height: 5em;
    background-color: #1e293b;
    color: #f8fafc;
    border-bottom: 1px solid #334155;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header>div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    position: absolute;
    left: 3rem;
}
header button{
    position: absolute;
    right: 4rem;
    top: 1.5rem;
    display: inline-block;
    padding: 10px 15px;
    border: none;
    border-radius: 0.8rem;
    background-color: #38bdf8;
    color: #020617;
}
.card_container{
    height: 100vh;
    margin:2rem 5rem; 
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    gap: 2rem;
}
.card{
    background-color: #0f172a;
    border: 1px solid #1e293b;
    color: white;
    height: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}
.card p {
  color: #cbd5f5;
}

.button{
    width: 8rem;
    height: 2.5em;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    color: white;
    border: none;
}
.remove_btn {
    background-color: #ef4444;
    color: white;
}
.read_btn{
    background-color: #38bdf8;
    color: #020617;
}
.notread_btn{
    background-color: #334155;
    color: #f8fafc;
}

dialog{
    justify-self: center;
    align-self: center;
    padding: 1.25rem;
    height: 73vh;
    width: 25rem;
    background-color: #1e293b;
    color: white;
    border: 1px solid black;
    border-radius: 0.8rem;
 }
dialog div{
    padding: 1.25rem;
 }
dialog>div{
    display: flex;
    gap: 12em;
}
input[type="text"],input[type="number"] {
    margin-top: 7px;
    width: 26em;
    height: 2.5em;
    padding-left: 5px;
    background-color: #131c2f;
    color: white;
    border: 1px solid #3c3f50;
 }
 input[type="checkbox"] {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.3rem;
    justify-self: center;
 }
 #submit_form{
    background-color: #524be7;
    color: white;
    width: 27em;
    height: 3.5em;
    border: 2px solid #252c54;
 }
 #cancel{
    background-color: #1e293b;
    color: rgb(212, 208, 216);
    border: none;
    font-size: 1.2em;
 }